@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);






body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Roboto', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Roboto', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Roboto', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Roboto', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #6fb9af !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #6fb9af;
  border-color: #6fb9af;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #489489;
  border-color: #489489;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #489489 !important;
  border-color: #489489 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #3f8379;
  color: #3f8379;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #6fb9af;
  border-color: #6fb9af;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6fb9af !important;
  border-color: #6fb9af !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #6fb9af !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #6fb9af;
}
.btn-social:hover {
  background: #6fb9af;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #6fb9af;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #6fb9af;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #6fb9af;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #6fb9af;
}
.lead a,
.lead a:hover {
  color: #6fb9af;
}
.lead blockquote {
  border-color: #6fb9af;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c5e3df;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #6fb9af;
}
#ext_menu-3 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3 .navbar-caption {
  color: #ffffff;
}
#ext_menu-3 .navbar-toggler {
  color: #6fb9af;
}
#ext_menu-3 .close-icon::before,
#ext_menu-3 .close-icon::after {
  background-color: #6fb9af;
}
#ext_menu-3 .link,
#ext_menu-3 .dropdown-item {
  color: #6fb9af;
}
#ext_menu-3 .link {
  font-size: 0.75rem;
}
#ext_menu-3 .dropdown-item,
#ext_menu-3 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-3 .link:hover,
#ext_menu-3 .dropdown-item:hover,
#ext_menu-3 .link:focus,
#ext_menu-3 .dropdown-item:focus {
  color: #6fb9af;
}
#ext_menu-3 .link[aria-expanded="true"],
#ext_menu-3 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-3 .nav-dropdown-sm .link:focus,
#ext_menu-3 .nav-dropdown-sm .link:hover,
#ext_menu-3 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-3 .navbar,
#ext_menu-3 .nav-dropdown-sm,
#ext_menu-3 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-3 .bg-color.transparent .link {
  color: #6fb9af;
  transition: none;
}
#ext_menu-3 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3 .bg-color.transparent.opened .link:hover,
#ext_menu-3 .bg-color.transparent.opened .link:focus {
  color: #6fb9af;
}
#ext_menu-3 .link[aria-expanded="true"],
#ext_menu-3 .dropdown-item[aria-expanded="true"] {
  color: #6fb9af!important;
}
#header1-4 .mbr-section-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#header1-4 .mbr-section-lead {
  text-align: center;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
#header1-4 .mbr-section-lead I {
  color: #faaf40;
  font-size: 22px;
}
#content5-6 .mbr-section-title,
#content5-6 p {
  color: #fff;
}
#content8-7 .mbr-section-title,
#content8-7 p {
  text-align: right;
  color: #fff;
}
#msg-box5-9 H3 {
  color: #ffffff;
}
#msg-box5-9 P {
  color: #ffffff;
}
#header5-a .mbr-section-title {
  color: #ffffff;
}
#header5-a .mbr-section-lead {
  color: #ffffff;
}
#header5-a .mbr-section-lead B {
  color: #f3c649;
}
#msg-box8-g .mbr-section-title,
#msg-box8-g p {
  color: #fff;
}
#features3-f P {
  color: #ffffff;
}
#features3-f H4 {
  color: #ffffff;
}
#msg-box8-h .mbr-section-title,
#msg-box8-h p {
  color: #fff;
}
#features1-1 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #c1c1c1;
}
#features1-1 .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
}
#features1-1 .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
}
#features1-1 .mbr-cards-col:nth-child(odd) .card-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#features1-1 .mbr-cards-col:nth-child(odd) .card-text {
  text-align: center;
}
#form1-d .form-control-label {
  color: #ffffff;
}
#form1-d .mbr-section-title {
  color: #ffffff;
}
#form1-d SMALL {
  color: #ffffff;
}
